@using SistemaMonitoramento.Model.Class;

@model Tela

<form id="formulario" class="form" action="#" autocomplete="off">

    @Html.AntiForgeryToken()

    <div class="modal" tabindex="-1" id="mdlFormulario" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog modal-xl ">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">

                        @if (Model.tela_i_id == 0)
                        {
                            @Html.Raw("Novo")
                        }
                        else
                        {
                            @Html.Raw("Editar")
                        }

                    </h3>
                    <button type="button" class="btn-close" onclick="FecharFormCusto()"></button>
                </div>
                <div class="modal-body">

                    <div class="card-body  py-3">

                        @if (Model.tela_i_id == 0)
                        {
                            @Html.HiddenFor(m => m.tela_i_id)
                        }
                        else
                        {
                            <div class="row mb-3 fv-row">
                                <label class="col-lg-3 col-form-label required fw-bold">Id</label>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(m => m.tela_i_id, new { @class = "form-control form-control-lg  disabled", @readonly = "readonly" })
                                </div>
                            </div>
                        }

                        <div class="row mb-3 fv-row">
                            <label class="col-lg-3 col-form-label required fw-bold">Controller</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.tela_s_controller, new { @class = "form-control form-control-lg " })
                            </div>
                        </div>
                        <div class="row mb-3 fv-row">
                            <label class="col-lg-3 col-form-label required fw-bold">Path</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.tela_s_path, new { @class = "form-control form-control-lg " })
                            </div>
                        </div>                       
                        <div class="row mb-3 fv-row">
                            <label class="col-lg-3 col-form-label required fw-bold">Título</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.tela_s_titulo, new { @class = "form-control form-control-lg " })
                            </div>
                        </div>                                               
                    </div>
                </div>

                <div class="modal-footer">

                    <button id="btnSalvar" type="button" class="btn btn-primary fw-bolder px-6 py-3 me-3" onclick="Salvar()">
                        <span class="indicator-label">
                            Salvar
                        </span>
                        <span class="indicator-progress">
                            Enviando... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                    <button type="reset" class="btn btn-color-gray-600 btn-light fw-bolder px-6 py-3" onclick="FecharFormCusto()">Cancelar</button>

                </div>
            </div>
        </div>
    </div>

</form>

<script>

    var validator;

    $(document).ready(function () {

        

        const form = document.getElementById('formulario');

        validator = FormValidation.formValidation(
            form,
            {
                fields: {                    
                    'tela_s_controller': {
                        validators: { notEmpty: { message: 'Preenchimento obrigatório' } },
                    },
                    'tela_s_path': {
                        validators: { notEmpty: { message: 'Preenchimento obrigatório' } },
                    },
                    'tela_s_titulo': {
                        validators: { notEmpty: { message: 'Preenchimento obrigatório' } },
                    }
                },

                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    bootstrap: new FormValidation.plugins.Bootstrap5({
                        rowSelector: '.fv-row',
                        eleInvalidClass: '',
                        eleValidClass: ''
                    })
                }
            }
        );



    });

    function Salvar() {
        if (validator) {
            validator.validate().then(function (status) {

                if (status == 'Valid') {

                    submitButton = document.getElementById('btnSalvar');

                    submitButton.setAttribute('data-kt-indicator', 'on');
                    submitButton.disabled = true;

                    $.ajax({
                        url: "@Url.Content("/CADASTROS/CA002/Form")" ,
                        data: $('#formulario').serialize(),
                        dataType: 'json',
                        type: 'post',
                        success: function (data) {

                            submitButton.removeAttribute('data-kt-indicator');
                            submitButton.disabled = false;

                            Swal.fire({
                                text: data.message,
                                icon: data.status,
                                buttonsStyling: false,
                                confirmButtonText: "Ok",
                                customClass: {
                                    confirmButton: "btn btn-secondary"
                                },
                            });

                            if (data.status == "success") {

                                FecharFormCusto();
                            }

                        },
                        error: function () {

                            submitButton.removeAttribute('data-kt-indicator');
                            submitButton.disabled = false;

                            Swal.fire({
                                text: "Algo deu errado!!!",
                                icon: "danger",
                                buttonsStyling: false,
                                confirmButtonText: "Fechar",
                                customClass: {
                                    confirmButton: "btn btn-danger"
                                },
                            });


                        }
                    });

                }
            });
        }
    }


</script>
